@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,500,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');
/* CSS RESET BEGINS */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* CSS RESET ENDS */

::selection {
  background: rgba(241,183,7,.5); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: rgba(241,183,7,.5); /* Gecko Browsers */
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #111111;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f1b707;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f1b707;
}

/* Smooth page scroll. */
html{
	scroll-behavior: smooth;
}

html, body{
	width: auto;
	height: auto;
}

body{
	margin: 0;
	height: auto;
	background-color: #0f0f10;
	font-family: 'Roboto', sans-serif;
	color: #f8f8ff;
	overflow-x: hidden;
}

.cursor{
	width: 30px;
	height: 30px;
	border: 1px solid white;
	border-radius: 50%;
	position: absolute;
	transition-duration: 200ms;
	transition-timing-function: ease-out;
}

header{
	position: absolute;
	z-index: 1;
	width: 100%;
	padding: 20px;
}

#nav{
	display: flex;
	clear: both;
	float: right;
}

#nav li{
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 2px;
	transform: scale(1, .9);
	padding: 20px 0px 0px 30px;
}
#nav li a{
	color: #f8f8ff;
	padding-bottom: 10px;
}
#nav li a:hover{
	text-decoration: none;
	color: #f1b707;
}

h1{
	font-size: 3em;
	font-weight: 700;
	padding-bottom: 40px;
}

p{
	font-family: 'Amiri', serif;
	font-size: 2em;
	font-weight: 400;
	line-height: 1.5em;
	padding-bottom: 20px;
}

.hero-container{
	padding: 0px 20px;
	max-width: 100%;
	margin: 0 auto;
	overflow: hidden;
}

.text-cta{
	display: inline-block;
	position: relative;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	color: #f8f8ff;
	font-size: 16px;
	letter-spacing: 6px;
	z-index: 100;
	transform: scale(1, .9);
	width: 250px;
	height: 50px;
	padding-top: 18px;
	
	-webkit-transition: color .5s ease-in-out;
	-moz-transition: color .5s ease-in-out;
	-ms-transition: color .5s ease-in-out;
	-o-transition: color .5s ease-in-out;
	transition: color .5s ease-in-out;
}

.text-cta:hover{
	text-decoration: none;
	color: rgba(241,183,7,1);
}
.text-cta:visited{
	color: #f8f8ff;
	text-decoration: none;
}

/* CTA underline hover effect. */
.text-cta:after {
  display: none;
}
/* CTA underline hover effect. */
.text-cta:hover:after {
  display: none;
}

#hero{
	background-image: url("../images/bg-noise.jpg");
	background-color: #0f0f10;
	background-size: cover;
	position: relative;
	width: 100%;
	height: 100%;
}

#hero a{
	position: absolute;
	width: 250px;
	height: 50px;
	padding-top: 18px;
	bottom: 80px;
	text-decoration: none;
	color: #f8f8ff;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
	animation: blinker 2s linear infinite;
}

#hero a:hover{
	animation: 0;
	color: rgba(241,183,7,1);
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#scroll-line{
	position: absolute;
	z-index: 11;
	height: 60px;
	width: 1px;
	background-color: #f8f8ff;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
}

#me-hero{
	position: absolute;
	z-index: 10;
	display: block;
	height: 70%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	animation: me-appear 500ms ease-in;
}

@keyframes me-appear{
	0%{
		opacity: 0;
	}
	
	100%{
		opacity: 1;
	}
}

.page-title{
	min-height: 100vh; /* height of the browser viewport */
	display: flex;
	flex-flow: column nowrap; /*stacks items */
 	justify-content: center; /* vertical and horizontal center */
 	align-items: center;
}

.page-title h1{
	font-family: 'Roboto', sans-serif;
	-webkit-text-stroke: 1px #f8f8ff;
	color: rgba(0, 0, 0, 0);
	text-transform: uppercase;
	font-weight: 900;
	font-size: 18vw;
	line-height: .5;
}

#title-top-row{
	animation: slidein-left 1s ease-in;
}
#title-bottom-row{
	animation: slidein-right 1s ease-in;
}

.project-title{
	min-height: 100vh; /* height of the browser viewport */
	display: flex;
	flex-flow: column nowrap; /*stacks items */
 	justify-content: center; /* vertical and horizontal center */
 	align-items: center;
	text-align: center;
}

.project-title h1{
	font-size: 2.5em;
	font-weight: 400;
	letter-spacing: 4px;
	line-height: 1.15em;
	color: #f8f8ff;
	text-transform: uppercase;
	transform: scale(1, .9);
}

.project-title h2{
	color: #f1b707;
	font-size: 1em;
	font-weight: 400;
	letter-spacing: 4px;
	text-transform: uppercase;
	transform: scale(1, .9);
}

#project-heading{
	animation: slidein-left 1s ease-in;
}
#project-subhead{
	animation: slidein-right 1s ease-in;
}

@keyframes slidein-left{
	0%{
		transform: translateX(-100%);
		opacity: 0;
	}
	
	100%{
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slidein-right{
	0%{
		transform: translateX(100%);
		opacity: 0;
	}
	
	100%{
		transform: translateX(0);
		opacity: 1;
	}
}

/* HERO SECTION END */

#blurb{
	background-image: url("../images/blurb-bg.jpg");
	background-color: #0f0f10;
	background-size: cover;
	background-position: right;
	position: relative;
	width: 100%;
	height: auto;
}

.container{
	min-height: 100vh;
	display: flex;
	flex-flow: column nowrap; /*stacks items */
 	justify-content: center; /* vertical and horizontal center */
	padding: 0px 40px;
}

#blurb-wrapper{
	max-width: 800px;
	padding: 40px 0px;
}

/* BLURB SECTION END */

#skills{
	background-image: url("../images/bg-noise.jpg");
	background-color: #0f0f10;
	padding: 60px 0px;
	width: 100%;
	height: auto;
	margin-bottom: 400px;
}

#skills img{
	height: 400px;
	object-fit: cover;
}

#skill-block-wrapper{
	display: inline-block;
	padding-bottom: 20px;
}

.skill-block{
	max-width: 340px;
	padding-bottom: 20px;
}
	.skill-block h2{
		font-size: 24px;
		font-weight: 300;
		color: #f1b707;
		text-transform: uppercase;
		letter-spacing: 2px;
	}
	.skill-block h3{
		font-size: 20px;
		font-weight: 600;
		letter-spacing: 2px;
		transform: scale(1, .8);
		padding-bottom: 8px
	}
	.skill-block p{
		font-size: 18px;
		padding-top: 18px;
	}

#brand-list-wrapper{
		padding-top: 60px;
}
	#brand-list-wrapper h2{
		color: #f1b707;
		font-size: 24px;
		font-weight: 300;
		text-transform: uppercase;
		letter-spacing: 2px;
	}

#brand-list{
	
}

#brand-list ul{
	padding: 0px 20px 60px 0px;
}
	#brand-list ul li{
		border-bottom: 1px solid #f8f8ff;
		padding: 50px 30px;
		font-size: 18px;
		font-weight: 300;
		letter-spacing: 4px;
		text-transform: uppercase;
		transform: scale(1, .9);
		text-align: center;
		
		-webkit-transition: color .25s ease-in-out;
		-moz-transition: color .25s ease-in-out;
		-ms-transition: color .25s ease-in-out;
		-o-transition: color .25s ease-in-out;
		transition: color .25s ease-in-out;
		
	}
	#brand-list ul li:hover{
		color: #f1b707;
	}
.gif-data{
	position: absolute;
	display: none;
}
.teaser{
	width: 450px;
}

/* SKILLS SECTION END */


/* WORK PAGE STARTS */

#work-hero{
	position: absolute;
	z-index: 10;
	display: block;
	height: 30%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: 250px;
	text-align: center;
	animation: me-appear 500ms ease-in;
}

#case-studies{
	background-color: #0f0f10;
	width: 100%;
	height: auto;
	margin-bottom: 400px;
}

#p-container{
	display: flex;
	flex-flow: row wrap;
	overflow: hidden;
}

.p-block{
	flex-basis: 100%;
	height: 400px;
	margin-bottom: 0%;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

.thumb {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    transition: all .5s ease;
}
.thumb:hover{
	display: none;
}

.overlay{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.7);
	position: absolute;
	top: 0;
}
.overlay h2{
	font-size: 2.5em;
	font-weight: 400;
	letter-spacing: 4px;
	line-height: 1.15em;
	color: #f8f8ff;
	text-transform: uppercase;
	transform: scale(1, .9);
	position: absolute;
	bottom: 0;
	padding: 40px 40px 80px;
}
.overlay h3{
	color: #f1b707;
	font-size: 1em;
	font-weight: 400;
	letter-spacing: 4px;
	text-transform: uppercase;
	transform: scale(1, .9);
	position: absolute;
	bottom: 0;
	padding: 40px;
}

/* WORK SECTION ENDS */

/* PROJECT PAGE STARTS */

.-project-hero-container{
	padding: 0px 20px;
	max-width: 100%;
	margin: 0 auto;
	overflow: hidden;
}

#project-hero{
	background-color: #0f0f10;
	background-size: cover;
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#project-hero a{
	position: absolute;
	width: 250px;
	height: 50px;
	padding-top: 18px;
	bottom: 80px;
	text-decoration: none;
	color: #f8f8ff;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
	animation: blinker 2s linear infinite;
}

#project-hero a:hover{
	animation: 0;
	color: rgba(241,183,7,1);
}

#project-image{
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
	position: absolute;
	opacity: .5;
}

#project-notes{
	background-color: #0f0f10;
	width: 100%;
	height: auto;
}

#project-blurb{
	padding: 60px 0px;
}
#left{
	font-size: .75em;
}

#project-blurb ul{
	
}

	#project-blurb ul h3{
		color: #f1b707;
		font-size: 1em;
		font-weight: 400;
		letter-spacing: 4px;
		text-transform: uppercase;
		transform: scale(1, .9);
	}

	#project-blurb ul p{
		padding-top: .25em;
		line-height: 1.125em;
	}

	#project-blurb li{
		padding-top: 2em;
	}

#image-wall{
	background-color: #0f0f10;
	width: 100%;
	height: auto;
	position: relative;
	overflow: hidden;
}
#image-wall img{
	width: 100%;
	display: block;
}

.project-bg{
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.project-element{
	position: absolute;
}

.return-container{
	min-height: 200px;
	display: flex;
	flex-flow: column nowrap; /*stacks items */
 	justify-content: center; /* vertical and horizontal center */
	padding: 0px 40px;
}
#all-work{
	background-color: #0f0f10;
	width: 100%;
	height: auto;
	margin-bottom: 400px;
}
/* PROJECT PAGE ENDS */

footer{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 400px;
	padding: 40px 40px;
	z-index: -1;
	background-color: #f1b707;
}
#footer-wrapper{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0px 0px;
}
footer h1{
	color: #000;
}
footer p, footer a{
	font-family: 'Amiri', serif;
	font-size: 2em;
	font-weight: 400;
	line-height: 1.5em;
	padding-bottom: 20px;
	color: #000;
}
footer a{
	color: #000;
	-webkit-transition: color .5s ease-in-out;
	-moz-transition: color .5s ease-in-out;
	-ms-transition: color .5s ease-in-out;
	-o-transition: color .5s ease-in-out;
	transition: color .5s ease-in-out;
}
footer a:hover{
	color: #f8f8ff;
	text-decoration: none;
}
#my-email{
	padding-bottom: 20px;
}
#copyright{
	position: absolute;
	bottom: 0;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 2px;
	transform: scale(1, .9);
}

@media only screen and (min-width: 768px){
	.page-title h1{
		line-height: .75;
	}
	
	#me-hero{
		height: 80%;
	}
	
	h1{
		font-size: 5em;
		padding-bottom: 40px;
	}

	p{
		font-size: 2.5em;
		line-height: 1.5em;
		padding-bottom: 40px;
	}
	
	.skill-block{
		max-width: 45%;
		padding-bottom: 0;
	}
	
	#skill-block-wrapper{
		display: flex;
		flex-wrap: wrap;
		gap: 5%;
		padding-bottom: 20px;
	}
	
	#skills img{
		height: 100%;;
		object-fit: cover;
	}
	
	#work-hero{
		height: 45%;
	}
	
	#p-container{
		display: flex;
		flex-flow: wrap;
		gap: 0%;
	}
	
	.p-block{
		flex-basis: 50%;
		height: 50vw;
		margin-bottom: 0;
	}
	
	.project-title h1{
		font-size: 3.5em;
		line-height: 1.15em;
	}

	.project-title h2{
		font-size: 2em;
	}

	#project-blurb ul{
		display: inline;
	}
	
	#project-blurb li{
		float: left;
		padding-right: 2em;
	}
	#left{
		max-width: 800px;
		font-size: 1em;
	}
}

@media only screen and (min-width: 990px){
	#project-blurb li{
			padding-right: 6em;
		}
}


@media only screen and (min-width: 1200px){
	.page-title h1{
		-webkit-text-stroke: 2px #f8f8ff;
	}
	
	header{
		padding: 60px;
	}
	
	#nav li{
		padding: 0px 0px 0px 30px;
	}
	
	.container{
		max-width: 1200px;
		padding: 0 20px;
	}
	
	#me-hero{
		height: 90%;
	}
	
	.text-cta:after{
		display: inline-block;
		content: '';
		position: absolute;
		width: 100%;
		transform: scaleX(0);
		height: 2px;
		bottom: 0;
		left: 0;
		background-color: #f1b707;
		transform-origin: bottom right;
		transition: transform 0.5s ease-out;
	}
	
	.text-cta:hover:after{
		display: inline-block;
		transform: scaleX(1);
		transform-origin: bottom left;
	}
	
	.skill-block{
		max-width: 40%;
		padding-bottom: 0;
	}
	
	#skill-block-wrapper{
		gap: 10%;
	}
	
	#brand-list ul li{
		text-align: left;	
	}
	
	.gif-data{
		display: block;
	}
	
	#footer-wrapper{
		max-width: 1200px;
	}
	
	#work-hero{
		height: 60%;
		bottom: 200px;
	}
	
	#p-container{
		gap: 0%;
	}
	
	.p-block{
		flex-basis: 33.333333%;
		height: 33vw;
		margin-bottom: 0;
	}
	
	.thumb.hover{
		display: block;
		transform: scale(120%);
	}
	
	.project-title h1{
		font-size: 5em;
		line-height: 1.15em;
	}

	.project-title h2{
		font-size: 3.5em;
	}
	
	#project-blurb{
		
	}

	#project-blurb ul{
		
	}
	
	#project-blurb li{
		clear: both;
		padding-right: 0em;
		padding-top: .5em;
	}
	
	#left{
		float: left;
	}
	
	#right{
		float: right;
		border-left: 1px solid #f8f8ff;
		padding-left: 50px;
	}
}